.dashboard-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
}
.dashboard-content-container {
    margin: 1em;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap:25px;
    overflow: auto;
}
.dashboard-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dashboard-content-header h2 {
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    font-size: xx-large;
    font-weight: 700;
}

.dashboard-content-search:focus {
    outline: #2D83B5 auto 1px;
}
.dashboard-content-input {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    border: 0px;
    box-sizing: content-box;
    background: none transparent;   
    margin: 0px;
    display: block;
    min-width: 0px;
    width: 100%;
    color: #000000;
    font-size: 0.75rem;
    padding: 0.625rem;
}
table {
    width: 100%;
    margin: auto;
}
th {
    text-align: left;
    padding: 12px 24px;
    background: transparent;
    box-shadow: none;
    color: #2D83B5;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.035em;
    border-bottom: 0.05rem solid rgb(240, 242, 245);
}
tbody {
    display: table-row-group;
}
tr, thead {
    color: inherit;
    display: table-row;
    vertical-align: middle;
    outline: 0px;
}
td {
    text-align: left;
    padding: 12px 24px;
    background: transparent;
    box-shadow: none;
    border-bottom: 0.05rem solid rgb(240, 242, 245);
}
td div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dashboard-content-avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 20px;
}
td span {
    margin: 0px;
    font-size: 0.75rem;
    line-height: 1.25;
    letter-spacing: 0.035em;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: gray;
    font-weight: 700;
}
.dashboard-content-icon {
    width: 20px;
    margin-right: 10px;
}
.dashboard-content-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dashboard-content-footer .pagination {
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 5px;
    background-color: #F0F2F5;
    cursor: pointer;
}
.dashboard-content-footer .active-pagination {
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #2D83B5;
    cursor: pointer;
}
.empty-table {
    margin: 0px;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.035em;
    color: gray;
    font-weight: 700;
    border-color: #FFFFFF;
}
.action-btn-delete {
    position: flex;
    margin-right: 10px;
  
    padding: 8px 16px;
    background-color: #af4c4c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .action-btn-update {
    position: flex;
  
    padding: 8px 16px;
    background-color: #0004f7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  /* modal */
body.active-modal {
    overflow-y: hidden;
  }
  
  .btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
  }
  
  .modal,
  .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
  
  .overlay {
    background: rgba(49, 49, 49, 0.8);
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #ffffff;
    padding: 30px 28px;
    border-radius: 10px;
    max-width: 600px;
    min-width: 300px;
  }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
  }
  /* loading */
  .spinner{
 
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      height : 50px;
      width : 50px;
      border-radius : 50%;
 
      border : 10px solid #ccc;
      border-top-color : #007bff;
      animation : spin 1s linear infinite;
    }
    
    @keyframes spin{
      0%{
        transform : rotate(0deg);
      }
      100%{
        transform : rotate(360deg);
      }
    }

    input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type="file"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type="submit"] {
  background-color: #3498db;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

input[type="submit"]:hover {
  background-color: #4a10ec;
}

input[type="submit"]:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}
  /* pagination*/
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-btn {
    background-color: #f8f9fa;
    color: #343a40;
    border: 1px solid #dee2e6;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .page-btn:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .page-btn.active {
    background-color: #007bff;
    color: #fff;
  }

  /* invoice*/
.invoice-card {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 10px 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 25em;
  width: 22em;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.15);
}

.invoice-card > div {
  margin: 5px 0;
}

.invoice-title {
  flex: 3;
}

.invoice-title #date {
  display: block;
  margin: 8px 0;
  font-size: 12px;
}

.invoice-title #main-title {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.invoice-title #main-title h4 {
  letter-spacing: 2.5px;
}

.invoice-title span {
  color: rgba(0, 0, 0, 0.4);
}

.invoice-details {
  flex: 1;
  border-top: 0.5px dashed grey;
  border-bottom: 0.5px dashed grey;
  display: flex;
  align-items: center;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
}

.invoice-table thead tr td {
  font-size: 12px;
  letter-spacing: 1px;
  color: grey;
  padding: 8px 0;
}

.invoice-table thead tr td:nth-last-child(1),
.row-data td:nth-last-child(1),
.calc-row td:nth-last-child(1)
{
  text-align: right;
}

.invoice-table tbody tr td {
    padding: 8px 0;
    letter-spacing: 0;
}

.invoice-table .row-data #unit {
  text-align: center;
}

.invoice-table .row-data span {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

.invoice-footer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.invoice-footer #later {
  margin-right: 5px;
}

.btn {
  border: none;
  padding: 5px 0px;
  background: none;
  cursor: pointer;
  letter-spacing: 1px;
  outline: none;
}

.btn.btn-secondary {
  color: rgba(0, 0, 0, 0.3);
}

.btn.btn-primary {
  color: var(--primary-color);
}

.btn#later {
  margin-right: 2em;
}

